<div class="button-row">
  Select demo:
  <button
    (click)="currentTab.set('date-range')"
    [class.active]="currentTab() === 'date-range'">
    Date Range:
  </button>
  <button
    (click)="currentTab.set('date-time-inline')"
    [class.active]="currentTab() === 'date-time-inline'">
    DateTime Range (Inline):
  </button>
</div>

<main>
  @switch (currentTab()) {
    @case ('date-range') {
      <label for="daterange">
        Datetime range (click, then press 'Set' to modify):
      </label>

      <input
        [(ngModel)]="selectedDatesU"
        [selectMode]="'range'"
        [owlDateTimeTrigger]="date_range_component"
        [owlDateTime]="date_range_component"
        style="width: 100%; color: cornflowerblue"
        id="daterange">

      <owl-date-time
        #date_range_component
        [startAt]="currentValue"
        [endAt]="endValue"
        (afterPickerClosed)="null"
        (dateSelected)="null"
        (confirmSelectedChange)="selectedTrigger($event)"
        (cancelClicked)="selectedTrigger($event)"
        [hideCalendar]="false"
        >
        <ng-template #header>
          <ng-container *ngTemplateOutlet="timeframe"></ng-container>
        </ng-template>
        <ng-template #footer>
          <ng-container *ngTemplateOutlet="recurrence"></ng-container>
        </ng-template>
      </owl-date-time>
    }

    @case ('date-time-inline') {
      <owl-date-time-inline
        [(ngModel)]="selectedDates"
        [startAt]="currentValue"
        [endAt]="endValue"
        selectMode="range"
        pickerType="both"
        (dateSelected)="selectedTrigger($event)"
        [hideCalendar]="false"
        >
        <ng-template #header>
          <ng-container *ngTemplateOutlet="timeframe"></ng-container>
        </ng-template>
        <ng-template #footer>
          <ng-container *ngTemplateOutlet="recurrence"></ng-container>
        </ng-template>
      </owl-date-time-inline>
    }
  }
</main>

<ng-template #recurrence>
  <div class="owl-dt-container-info  owl-dt-container-row">
    <span class="owl-dt-container-recurrence">
        <span class="owl-dt-container-info-label">
            Recurrence
        </span>
        <span class="owl-dt-container-recurrence-values" role="radiogroup">
            <label class="recurrence-option">
                <input type="radio" name="selectedRecurrence">
                no
            </label>
            <label *ngFor="let recurrenceValue of recurrenceValues" class="recurrence-option">
                <input type="radio" name="selectedRecurrence">
                {{getRecurrenceLabel(recurrenceValue)}}
            </label>
        </span>
    </span>
  </div>
</ng-template>

<ng-template #timeframe>
  <div class="owl-dt-container-info  owl-dt-container-row">
    <span class="owl-dt-container-recurrence">
        <span class="owl-dt-container-info-label">
            Timeframe
        </span>
        <span class="owl-dt-container-recurrence-values" role="radiogroup">
            <label *ngFor="let timeframeValue of timeframeValues" class="recurrence-option">
                <input type="radio" name="selectedRecurrence" [value]="timeframeValue" [(ngModel)]="selectedTimeframe" #unselector unselector>
                {{getTimeframeLabel(timeframeValue)}}
            </label>
        </span>
    </span>
  </div>
  <div class="owl-dt-container-info  owl-dt-container-row">
    or
  </div>
</ng-template>